.container {
  margin: auto;
  width: 90%;
  overflow: hidden;
  margin-top: 30px;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid white;
}

td, th {
  min-width: 85px;
}

input[type='button'], input[type='submit'] {
  margin-left: 1px;
  margin-right: 1px;
}

img {
  width: 80px;
  height: 80px;
}

.input-table td {
  width: initial;
}

.card {
  width: 300px;
}

.card img {
  height: 200px;
}

input[type='text'] {
  border-radius: 12px;
  padding-left: 10px;
}

input[type='button'] {
  border-radius: 7px;
}

ul {
  padding: 0px;
}